body {
  margin: 0;
  background: url("https://images.unsplash.com/photo-1560785496-3c9d27877182?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHF1aXp8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  width: 500px;
  background: rgba(85, 125, 4, 0.405);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(62, 92, 3, 0.25);
  padding: 3rem 4rem;
  margin: 1rem;
  align-items: center;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: rgba(182, 250, 211, 0.3) 0px 19px 38px,
    rgba(3, 243, 63, 0.258) 0px 15px 12px;
}
.score {
  text-align: right;
  font-size: 30px;
  font-weight: bold;
  color: tomato;
}
.question p {
  font-size: 24px;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input {
  width: 100%;
  height: 3rem;
  border: none;
  outline: none;
  background-color: rgba(2, 52, 9, 0.465);
  padding: 0.3rem;
  text-align: center;
  font-size: 24px;
  border-radius: 0.3rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
button {
  width: 50%;
  height: 2.5rem;

  align-content: center;
  justify-content: center;
  text-align: center;
  border: none;
  outline: none;
  margin-top: 1rem;
  background-color: rgb(241, 62, 7);
  border-radius: 0.3rem;
  color: whitesmoke;
  font-size: 20px;
  letter-spacing: 2px;
}
input::placeholder {
  font-style: italic;
  letter-spacing: 2px;
  color: rgba(157, 157, 166, 0.848);
}
